*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: blanchedalmond;
    min-height: 100vh;;
}
#validate-form{
    width: 550px;
    padding: 20px;
    text-transform: uppercase;
    background-color: azure;
}
.title{
    margin-bottom: 20px;
    text-align: center;
}
.input-group{
    margin: 20px 0px;
    padding: 5px;

}
.input-group label{
    margin: 5px;
display: inline-block;
}
.input-group p{
    color: red;
    visibility: hidden;

}
.error p{
    visibility: visible;
}
.input-group input{
    display: block;
    width: 100%;
    padding: 10px;
}
.error input{
    border: 3px red solid;
}
.success input{
    border: 3px green solid;
}
.btn{
    font-size: 20px;
    background-color: blanchedalmond;
    border: none;
    text-transform: uppercase;
    padding: 10px;
    width: 100%;
}